/* About section stylings */
.about_section {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 5rem 2rem;
}

@media screen and (max-width: 800px) {
  .about_section {
    flex-direction: column;
  }
}

.about_textbox,
.about_img_wrapper {
  width: 50%;
}

@media screen and (max-width: 800px) {
  .about_textbox,
  .about_img_wrapper {
    width: 100%;
  }
}

.about_text_subtitle {
  font-size: 1.4rem;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.about_title {
  text-transform: capitalize;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.about_description {
  font-size: 1.4rem;
  line-height: 2;
  color: var(--color-grey);
  margin-bottom: 1rem;
}

.about_cta {
  background-color: var(--color-black);
  color: var(--color-white);
  text-transform: capitalize;
  padding: 1rem 2rem;
  font-size: 1.4rem;
}

.about_img_wrapper {
  height: 33rem;
}

.about_img_image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 5px;
}
/* End of the about section stylings */