.title_sub {
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color-primary);
}
/* Title stylings */
.title_main {
  text-align: center;
  text-transform: capitalize;
  font-size: 5rem;
}

@media screen and (max-width: 600px) {
  .title_main {
    font-size: 3.5rem;
  }
}
/* End of title stylings */
/* blog section styling */
.blog_section {
  padding: 10rem 2rem;
}

.blog_cards_container {
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.blog_card {
  width: 40rem;
}

.blog_card_img_wrapper {
  height: 25rem;
}

.blog_card_featured_image {
  width: 100%;
  height: 100%;
  display: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.blog_card_chips_container {
  margin: 1rem 0;
}

.blog_card_chip {
  display: inline-block;
  font-size: 1.4rem;
  text-transform: capitalize;
  background-color: var(--color-primary);
  padding: 0.5rem 1rem;
  color: var(--color-white);
}

.blog_card_title {
  display: inline-block;
  margin-bottom: 1.5rem;
}

.blog_card_title_title {
  color: var(--color-black);
}

.blog_synopsis {
  font-size: 1.4rem;
  line-height: 2;
  color: var(--color-grey);
}

.blog_card_meta_information {
  display: flex;
  gap: 3rem;
  margin-top: 1rem;
}

.blog_card_meta {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-primary);
  font-size: 1.4rem;
}

.blog_card_meta a {
  font-size: 1.4rem;
  color: var(--color-primary);
  text-transform: capitalize;
}
/* End of blog section styling */
