/* Footer stylings */
.footer {
  padding: 3rem;
  background-color: var(--color-grey-lighter);
}

.footer_text {
  text-align: center;
  color: var(--color-grey);
}

.footer_text a {
  color: var(--color-grey);
  text-decoration: underline;
}
/* End of footer stylings */