.title_sub {
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color-primary);
}
/* Title stylings */
.title_main {
  text-align: center;
  text-transform: capitalize;
  font-size: 5rem;
}

@media screen and (max-width: 600px) {
  .title_main {
    font-size: 3.5rem;
  }
}
/* End of title stylings */

/* Team section stylings */
.team_section {
  padding: 10rem 1rem;
  background-image: repeating-linear-gradient(
    to bottom right,
    var(--color-grey-light),
    var(--color-grey-lighter) 40px
  );
}

.team_members_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
  margin-top: 5rem;
}

.team_member_card {
  width: 30rem;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--color-white);
}

.team_member_image_wrapper {
  height: 20rem;
  margin-bottom: 2rem;
}

.team_member_image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.team_member_information {
  padding: 1rem;
}

.team_member_name {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.team_member_position {
  text-align: center;
  font-weight: 600;
  font-size: 1.4rem;
  color: var(--color-grey);
  margin-bottom: 1rem;
}

.team_member_socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.team_member_social_url {
  --team-member-social-url-size: 5rem;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  width: var(--team-member-social-url-size);
  height: var(--team-member-social-url-size);
  font-size: 2.4rem;
  border-radius: 5px;
}
/* End of team section stylings */